body{
  text-align: center;

font-family: sans-serif;
background-image: url(./malte-baumann-82231.jpg);
}
h1{
  text-transform: uppercase;
  color: white;
}
button{

   margin-top: 100px;
   padding: 90px 35px;
   background-image: url(./leon__1_of_1__480.jpg);
   background-size: 100% 100%;
   box-shadow: 0px 17px 10px -7px
   rgba(10, 0, 0, 0.5);
   border: solid 5px #b8860b;
   font-size: 20px;
   font-weight: bold;
 }
button:hover{
  color: purple;
  box-shadow: 0px 10px 10px;
}

.unterpunkt {
  display: block;
   font-weight: bold;
 }
.learnbox {
  text-align: left;
   background-color: silver;
   padding: 16px;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   background: linear-gradient(black, white);
 }
