body{
  text-align: center;

font-family: sans-serif;
background-image: url(./malte-baumann-82231.jpg);
}
h1{
  text-transform: uppercase;
  color: white;
}
.unterpunkt {
  display: block;
   font-weight: bold;
 }
.learnbox {
  text-align: left;
   background-color: silver;
   padding: 16px;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   background: linear-gradient(black, white);
 }
image: url(./leon) 
